<div class="container-fluid mt-4 align-items-center">
  <div class="row">
    <div class="col-12">
      <h1>New product</h1>
    </div>
  </div>
  <hr/>

  <div class="container mb-5">
    <div class="row">
      <div class="col-12">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
